
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<h2> Đăng Nhập </h2>
<h1>@ViewBag.ThongBao</h1>
@using (Html.BeginForm())
{   <span>Tài khoản :</span> <br />
    @Html.TextBox("txtTaiKhoan");
    <br />
    <span>Mật khẩu:</span><br />
    <input name="txtMatKhau" type="password" />
    <br />
    <input type="submit" value="Đăng Nhập"/>
    

}

